@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  scroll-behavior: smooth;}
body{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  overflow-x: hidden;
  background-color: #181a2f;}
::-webkit-scrollbar {
  width: 15px;}
::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;}
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 35px;}
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 107, 241, 0.264); }
nav ul li:hover{
  border-bottom: 2px solid;
  border-radius: 100%;
  border-image: linear-gradient(45deg, transparent, transparent,#0072ff,#0072ff,transparent,transparent, transparent) 1; }
nav ul .app:hover{
  border-bottom: 2px solid;
  border-radius: 100%;
  border-image: linear-gradient(45deg, transparent, transparent,#0072ff,#0072ff,transparent,transparent, transparent) 1; }
.full h1{
    font: 400;}
nav a{
    display: block;
    font-family: "Playwrite IS";}
@media(max-width: 796px){
    .sideNab{
        display: block;
    }
    nav{
        display: none;
        overflow: hidden;
    }
    .main-pic{
      top: 0vh;
    }
    .abouts{
      margin-left: 20vw;
      border-radius: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      bottom: 15vh;
      height: 12vh;
      padding-bottom: 3vh;
    }
    .abouts h3{
      padding-left: 0;
    }}
@media(max-width: 406px){
  .abouts{
    margin-left: 10vw;
  }
  .timer{
    height: 13vh;
  }}
@media(max-width: 540px){
    .footer-upper{
      flex-direction: column;
    }
    .footer-upper h1{
      font-size: 4vw;
    }
    .footer-upper i{
      font-size: 4vw;
    }
    .footer-upper label{
      font-size: 4vw;
    }
    .footer-mid{
      width: 100%;
      margin-bottom: 5px;
    }
    .footer-mid input{
      height: 4vh;
    }
  .elem{
    width: 90%;
    font-size: 8vw;
  }
  .cards{
    flex-direction: column;
    gap: 0;
  }
  .cards .cardcontainer{
    width: 90%; 
  }
  .cards .cardcontainer .apti{
    top: 100%;
    left: 0%;
  }
  .cards .cardcontainer .coding{
    top: 0;
    right: 50%;
  }
  .aboutsec h1{
    width: 90vw;
  }}
.mainscreen{
    animation: fadeIn forwards 4s;}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }}
.leftscreen{
    animation: slideInLeft 3s forwards;
    right: -300px;}
@keyframes slideInLeft {
    0% {
      right: -300px;
    }
    100% {
      right: 12vw;
    }}
.rightscreen{
    left: -400px;
    animation: slideInRight 3s forwards;}
@keyframes slideInRight {
  0% {
    left: -400px;
  }
  100% {
    left: 12vw;
  }}
.group ion-icon{
  transform: rotate(45deg);}
.left-card:hover .coding{
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;}
.right-box:hover .aptitude{
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;}
.elem{
  box-shadow: 0px 10px 0px black;}
.nav-con{
  backdrop-filter: blur(550px);}
@media(max-width: 1055px){  
  .aboutsec{
    flex-direction: column;
    align-items: center;
  }}
@media(max-width: 950){
  .nav-con{
    margin-left: 34vw;
  }  }






  